.logotipoNavbar img {
    position:relative;
    top:5px;
    width:150px;
    height:40px;
}

.wazeIcon{
    text-align:center;
    background-color: black;
    color:white;
    border-radius:5px;
    padding:4px 8px !important;
    padding-top:6px !important;
    cursor:pointer;
}