::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey !important;
    opacity: 1!important; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: grey !important;
  }
